* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    list-style: none;
    -webkit-font-smoothing: subpixel-antialiased; }
  
  body {
    height: 100vh;
    width: 100%;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.05em;
    //font-family: 'Happy Monkey', cursive; 
}